{% extends 'RCSDataBundle::base.html.twig' %}

{% block additionalScripts %}
    <script src="/js/d3.v3.min.js"></script>
    <script>
        var chart;

        function dateAsString(dt, resolution)
        {
            if(resolution == 'year')
                return dt.getFullYear();
            else if(resolution == 'month')
                return dt.getFullYear() + '-' + (dt.getMonth() < 9 ? '0' : '') + (dt.getMonth() + 1);
            else
                return dt.getFullYear() + '-' + (dt.getMonth() < 9 ? '0' : '') + (dt.getMonth() + 1) + '-' + (dt.getDate() < 9 ? '0' : '') + dt.getDate();
        }

        $(function() {
            $('#filters').submit(function(e) {
                e.preventDefault();

                var search = {
                    plot: $('#filter_plot').val(),
                    resolution: $('#filter_resolution').val()
                };

                $.getJSON('{{ path('report_data') }}', search, function(response) {
                    $('#report-graph').empty();

                    var width = $('#report-graph').width();
                    var height = 300;

                    chart = d3.select('#report-graph').append('svg')
                        .attr('class', 'chart')
                        .attr('width', width)
                        .attr('height', height)
                    ;

                    var maxY = undefined;
                    var minY = undefined;
                    var minX = undefined;
                    var maxX = undefined;

                    $.each(response.data, function(i, point) {
                        minY = (minY === undefined) ? point.y : Math.min(minY, point.y);
                        maxY = (maxY === undefined) ? point.y : Math.max(maxY, point.y);

                        minX = (minX === undefined) ? point.x : Math.min(minX, point.x);
                        maxX = (maxX === undefined) ? point.x : Math.max(maxX, point.x);
                    });

                    if(minY == maxY) minY = 0;

                    var yScale = d3.scale.linear()
                        .domain([minY, maxY])
                        .range([20, 280]) // 20px padding on top and bottom (room for yTick and xTick labels)
                    ;

                    var xScale = d3.scale.linear()
                        .domain([minX, maxX])
                        .range([50, width - 20]) // 50px padding on the left (room for yTick labels); 20px on the right (for xTick labels)
                    ;

                    chart.selectAll('line.yTick')
                        .data(yScale.ticks(10))
                    .enter().append('line')
                        .attr('class', 'yTick')
                        .attr('x1', 0)
                        .attr('x2', width)
                        .attr('y1', function(d) { return height - yScale(d); })
                        .attr('y2', function(d) { return height - yScale(d); })
                        .style('stroke', '#ccc')
                    ;

                    chart.selectAll('text.yTick')
                        .data(yScale.ticks(10))
                    .enter().append('text')
                        .attr('class', 'yTick')
                        .attr('x', 0)
                        .attr('y', function(d) { return height - yScale(d); })
                        .attr('dy', -3)
                        .attr('text-anchor', 'right')
                        .attr('fill', '#666')
                        .attr('font-size', '12')
                        .text(String)
                    ;

                    chart.selectAll('line.xTick')
                        .data(xScale.ticks(width / 100))
                    .enter().append('line')
                        .attr('class', 'xTick')
                        .attr('x1', function(d) { return xScale(d); })
                        .attr('y1', 0)
                        .attr('x2', function(d) { return xScale(d); })
                        .attr('y2', height)
                        .style('stroke', '#ccc')
                    ;

                    chart.selectAll('text.xTick')
                        .data(xScale.ticks(width / 100))
                    .enter().append('text')
                        .attr('class', 'xTick')
                        .attr('x', function(d) { return xScale(d) - 60 })
                        .attr('y', height)
                        .attr('fill', '#666')
                        .attr('font-size', 12)
                        .text(function(d) {
                            var dt = new Date(d * 1000); // JS likes milliseconds >_>
                            return dateAsString(dt, response.resolution);
                        })
                    ;

                    // draw a line connecting the data points
                    var line = d3.svg.line()
                        .x(function(d) { return xScale(d.x); })
                        .y(function(d) { return height - yScale(d.y); })
                        .interpolate('basis')
                    ;

                    chart.append('svg:path')
                        .attr('d', line(response.data))
                        .attr('fill', 'none')
                        .attr('stroke-width', 2)
                        .attr('stroke', '#ccc')
                    ;

                    // draw the actual data points
                    chart.selectAll('.dataPoint')
                        .data(response.data)
                    .enter().append('svg:path')
                        .attr('class', 'dataPoint')
                        .attr('transform', function(d, i) {
                            return 'translate(' + xScale(d.x) + ', ' + (height - yScale(d.y)) + ')';
                        })
                        .attr('d', d3.svg.symbol()) // default is a circle - perfect!
                        .attr('fill', '#369')
                    ;
/*
                    chart.selectAll('rect')
                        .data(response.data)
                    .enter().append('rect')
                        .attr('fill', '#369')
                        .attr('x', function(d, i) { return xScale(i); } )
                        .attr('y', function(d, i) { return height - (yScale(d.value) < 0 ? 0 : yScale(d.value)) - yScale(0); })
                        .attr('width', function(d, i) { return xScale.rangeBand(i); })
                        .attr('height', function(d, i) { return Math.abs(yScale(d.value)); })
                    ;
*/
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Graph</h1>
    <form id="filters" class="search-form">
        <div>
            <label for="filter_plot">Data</label>
            <select name="plot" id="filter_plot">
                <option value="turbidityNtu">Average Turbidity (NTU)</option>
                <option value="temperatureC">Average Water Temperature (&deg;C)</option>
                <option value="dissolvedOxygenPpm">Average Dissolved Oxygen (ppm)</option>
                <option value="ph">Average pH</option>
                <option value="airTemperatureC">Average Air Temperature (&deg;C)</option>
            </select>
        </div>
        <div>
            <label for="filter_resolution">Resolution</label>
            <select name="resolution" id="filter_resolution">
                <option value="day">Day</option>
                <option value="month">Month</option>
                <option value="year">Year</option>
            </select>
        </div>
        <input type="submit" class="btn btn-primary" value="Plot" />
    </form>
    <div id="report-graph" style="height:300px;">
    </div>
{% endblock %}