body {
    background-color: #094897;
}

h1,h2,h3,h4,h5,h6,p,table,ul,ol,blockquote,q
{
    margin-bottom: 16px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
blockquote, q {
    margin-left:32px;
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    color: #369;
    font-weight: bold;
}
a.btn {
    font-weight: normal;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

#main-nav
{
    margin: 10px 10px 0;
}

#main-nav ul
{
    margin: 0;
    list-style: none;
    height: 53px;
    border-bottom: 10px solid #ddd;
}

#main-nav ul li
{
    display: block;
    float: left;
}

#main-nav ul li.home
{
    background-image: url(/img/rcslogo.png);
    background-repeat: no-repeat;
    padding-left: 80px;
}

#main-nav ul li a
{
    display: block;
    height: 23px;
    margin-top: 20px;
    padding: 5px 10px;
    color: #ddd;
}

#main-nav ul li a:hover
{
    background-color: #ddd;
    color: #094897;
    text-decoration: none;
}

#content
{
    clear: left;
    margin: 0 10px;
    background-color: #fff;
    padding: 10px;
}

footer
{
    font-size: 13px;
    text-align: center;
    margin: 0 10px;
    background-color: #fff;
    padding: 10px;
}

#content h1
{
    font-size: 24px;
    line-height: 24px;
}

label
{
    display: block;
    font-weight: bold;
    color: #666;
    font-size: 14px;
}

form.normal-form label + input,
form.normal-form label + select,
form.normal-form label + textarea
{
    margin-bottom: 16px;
}

.flash-notice
{
    background-color: #fe6;
    border: 3px solid #fff;
    border-radius: 5px 5px 5px 5px;
    display: block;
    left: 50%;
    margin-left: -163px;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 300px;
    cursor: pointer;
}

form.search-form
{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
}

form.search-form div
{
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

#rcs_bundle_databundle_reporttype > div, #login_form > div
{
    margin-bottom: 10px;
}

.required:after
{
    content: '*';
    font-size: 150%;
    font-weight: bold;
    color: orange;
}

table.striped th,table.striped td
{
    padding: 4px 8px;
}

table.striped thead tr
{
    background-color: #369;
    color: #fff;
}

table.striped tbody tr:nth-child(2n)
{
    background-color: #ddd;
}

table.striped tbody tr td
{
    border-right: 1px solid #bbb;
}

table.striped tbody tr td:last-child
{
    border-right: none;
}
