/*
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Modified for the Rivanna Conservation Society Reporting Tool - http://rivannariver.org
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:16px;
    font-family:Arial,Helvetica,sans-serif;
    vertical-align:baseline;
    background:transparent;
}
body {
    background-color: #ddd;
}

h1,h2,h3,h4,h5,h6,p,table,ul,ol,blockquote,q
{
    margin-bottom: 16px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
blockquote, q {
    margin-left:32px;
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    color: #369;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    font-weight: bold;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
    font-size: 16px;
}

.button
{
    cursor: pointer;
    margin: 0;
    padding: 0 10px;
    display: inline-block;
    line-height: 16px;
    color: #fff;
    background-color: #69c;
    border-left: 2px solid #9cf;
    border-top: 2px solid #9cf;
    border-bottom: 2px solid #369;
    border-right: 2px solid #369;
    vertical-align: middle;
}

#main-nav
{
    margin: 10px 10px 0;
}

#main-nav ul
{
    margin: 0;
    list-style: none;
    height: 29px;
}

#main-nav ul li
{
    float: left;
}

#main-nav ul li a
{
    padding: 5px 10px;
}

#main-nav ul li a:hover
{
    background-color: #369;
    color: #fff;
}

#content
{
    clear: left;
    margin: 0 10px;
    background-color: #fff;
    padding: 10px;
}

footer
{
    font-size: 13px;
    text-align: center;
    margin: 0 10px;
    background-color: #fff;
    padding: 10px;
}

#content h1
{
    font-size: 24px;
    line-height: 24px;
}

label
{
    display: block;
    font-weight: bold;
    color: #666;
    font-size: 14px;
}

form.normal-form label + input,
form.normal-form label + select,
form.normal-form label + textarea
{
    margin-bottom: 16px;
}

.flash-notice
{
    background-color: #fe6;
    border: 3px solid #fff;
    border-radius: 5px 5px 5px 5px;
    display: block;
    left: 50%;
    margin-left: -163px;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    top: 22px;
    width: 300px;
    cursor: pointer;
}

form.search-form
{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
}

form.search-form div
{
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

#rcs_bundle_databundle_reporttype > div
{
    margin-bottom: 10px;
}