{% block temperature_widget %}
    {% spaceless %}
        {{ block('hidden_widget') }}
        <input class="temperatureValue" type="text" />
        <select class="temperatureUnit span1">
            <option value="C">&deg;C</option>
            <option value="F">&deg;F</option>
            <!--<option value="K">&deg;K</option>-->
        </select>
    {% endspaceless %}
{% endblock %}

{# some notes on Turbidity:

    "
    Turbidity units based on Formazin

    The undiluted suspension has a turbidity value of:
    1000 EBC (European Brewing Convention)
    4000 TEF
    4000 FTU (Formazin Turbidity Units)
    4000 FNU (Formazin Nephelometric Units)
    4000 FAU
    40000 Helm units
    69000 ASBC (American Society of Brewing Chemists)
    "

and:

    "
    Typical calibration standards based on Kieselgur:

    JTU (Jackson Turbidity Units)
    JCU (Jackson Candle Units)
    ppb (parts per billion)
    ppm
    g/l (grams per litre)
    mg/l
    %TS (percent total solids)

    The units JTU and JCU are based on the Jackson Candle
    Turbidimeter (Jackson candle tube) the forerunner of modern
    forward scattered light turbidimeter and not very common
    anymore.
    "
#}

{% block formazin_turbidity_widget %}
    {% spaceless %}
        {{ block('hidden_widget') }}
        <input class="formazinValue" type="text" />
        <select class="formazinUnit">
            <option value="FTU">FTU</option>
        </select>
    {% endspaceless %}
{% endblock %}

{% block kieselgur_turbidity_widget %}
    {% spaceless %}
        {{ block('hidden_widget') }}
        <input class="kieselgurValue" type="text" />
        <select class="kieselgurUnit">
            <option value="JTU">JTU</option>
        </select>
    {% endspaceless %}
{% endblock %}
